@import 'config';
@import 'util';

body {
  height: 97vh;
  background-color: $color-primary;
  color: $white;
  border: $border $white;
  border-radius: $bRad;
  font-family: $font-family--secondary;
}

header {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  h1 {
    font-family: $font-family--primary;
    font-size: 3em;
    margin-bottom: 0;
  }
  h5 {
    margin: 0;
    font-weight: lighter;
  }
}
