@import 'config';
@import 'util';

body {
  height: 97vh;
  background-image: linear-gradient(rgba(107,142,35, 0.95), rgba(107,142,35, 0.95)), url('topography.jpg');
  color: $white;
  border: $border $white;
  border-radius: $bRad;
  font-family: $font-family--secondary;
}

header {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  h1 {
    font-family: $font-family--primary;
    font-size: 3em;
    margin-bottom: 0;
  }
  h5 {
    margin: 0;
    font-weight: lighter;
  }
}

button {
  margin: 5px;
  border: 1px solid $black;
  border-radius: 3px;
  background-color: $white;
  &:hover {
    cursor: pointer;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
  }
}
